# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
build/

# Virtual environment
venv/
.env/
.idea

# Dependency directories
poetry.lock

# Logs and models
logs/*.log
logs/*.txt
models/*.pt
data/*.csv
data/*.rds

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Misc
.DS_Store

# Data files
.coverage
