# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
build/

# Virtual environment
venv/
.env/
.idea

# Tests
tests/.hypothesis

# Logs and models
logs/*
models/*
data/*.csv
data/hbn_*.rds
data/genr_*.rds
data/processed/*.h5
data/processed/*.csv
data/processed/*.json
output/*
experiments/*

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Misc
.DS_Store

# Data files
.coverage

# Python dependencies
requirements.txt
